.container{ style: 'margin-top: 10px'}
  .list-group
    - if @user_tags.any?
      .list-group-item
        = 'Your tags:'
      .nav.nav-pills.nav-stacked.scrollClass
        - @user_tags.each do |tag|
          = link_to tag['name'], tagged_path(tag: tag['name']), class: "list-group-item list-group-item-action"
    - else
      .list-group-item
        = 'Sorry but you don`t have any tag'
